.CryptomonCardWrapper {
  height: 37rem;
  width: 24rem;
  border: 1px solid var(--ter-black);
  border-radius: 8px;
}
.MonProfile {
  width: 100%;
  height: 25rem;
  border-radius: 0.8rem 0.8rem 0px 0px;
}
.MonName {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-15);
  margin-left: 1.6rem;
  margin-top: 1rem;
}
.ProgressBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProgressBarBorder {
  margin-left: 1.6rem;
  margin-top: 1rem;
  width: 16rem;
  height: 0.8rem;
  border-radius: 13px;
  border: 1px solid var(--ter-black);
}
.ProgressBarFill {
  height: 100%;
  background: var(--yellow-primary);
  border-radius: 13px;
}
.MonXP {
  margin-left: 1.6rem;
  margin-top: 0.5rem;
  font-size: var(--font-13);
  font-weight: 500;
}
.MonLevelWrapper {
  position: relative;
  margin-right: 1.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MonLevel {
  position: absolute;
  font-size: var(--font-10);
  margin-bottom: 0.2rem;
  font-weight: 600;
  color: var(--white);
}
.MonAvailibility {
  margin-left: 1.6rem;
  margin-top: 1rem;
  font-size: var(--font-12);
  font-weight: 500;
  text-transform: uppercase;
  border: 1.5px solid;
  border-radius: 58px;
  width: fit-content;
  padding: 0rem 1rem;
}
@media only screen and (max-width: 375px) {
  .CryptomonCardWrapper {
    width: 92%;
  }
  .ProgressBarBorder {
    width: 80%;
  }
}
