.MainWrapper {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 100%;
  border-radius: 1rem;
}
.PopupWrapper {
  width: 45rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0 auto;
}
.MyCryptomonListWrapper {
  position: relative;
}
.MyCryptomonListSubWrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: var(--font-30);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
}

.Topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 5rem;
  border-bottom: 1px solid grey;
}
.Logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}
.yellow {
  color: #ffcb05;
}
.cross {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.BodyWrapper {
  padding: 1.5rem 2rem;
}
.Heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.CardContainer {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  margin: 1.2rem 0;
  gap: 1rem;
}
.CardContainer::-webkit-scrollbar {
  display: none;
}
.InfoWrapper {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.InfoButton {
  display: flex;
  align-items: center;
}
.InfoButton input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: 1px solid #444444;
  border-radius: 4rem;
  font-style: normal;
  outline: none;
  text-transform: uppercase;
  color: #000000;
  padding: 0 1rem;
}
.InfoHead {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0.3rem;
}
.InfoDesc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #888888;
}
.moncoin {
  margin-left: 0.5rem;
  width: 1.5rem;
}
.FinalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  padding-top: 1.2rem;
  border: 1.5px solid #10ab02;
  border-radius: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #10ab02;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  background-color: var(--white);
}
.FinalButton:hover {
  background: #10ab02;
  color: var(--white);
}

@media only screen and (max-width: 450px) {
  .InfoWrapper {
    width: 100%;
  }
  .PopupWrapper {
    height: 45rem;
  }
}
