.MainWrapper {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 100%;
  border-radius: 1rem;
}
.PopupWrapper {
  height: 38rem;
  width: 45rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0 auto;
}
.Topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 5rem;
  border-bottom: 1px solid grey;
}
.Logo {
  font-family: Venti CF;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}
.yellow {
  color: #ffcb05;
}
.cross {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.BodyWrapper {
  padding: 1rem 2rem;
}
.Heading {
  font-family: Venti CF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.CardContainer {
  height: 15rem;
  background-color: #ffcb05;
  width: 100%;
  margin: 1.2rem 0;
}
.InfoWrapper {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.InfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: 1px solid #444444;
  border-radius: 4rem;
  font-family: Venti CF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
.InfoHead {
  font-family: Venti CF;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0.3rem;
}
.InfoDesc {
  font-family: Venti CF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #888888;
}
.moncoin {
  margin-left: 0.5rem;
  width: 1.5rem;
}
.FinalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1.5px solid #10ab02;
  border-radius: 2rem;
  width: 20rem;
  font-family: Venti CF;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #10ab02;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 450px) {
  .InfoWrapper {
    width: 100%;
  }
  .PopupWrapper {
    height: 45rem;
  }
}
