.PopupBg {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.MainWrapper {
  width: 40rem;
  margin: auto;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem 1rem;
  border-bottom: 2px solid var(--sec-grey);
  margin-bottom: 2.2rem;
}
.Heading {
  composes: Heading from "../ChallengePlayer/ChallengePlayer.module.css";
}
.YellowPrimary {
  color: var(--yellow-primary);
}
.BlackPrimary {
  color: var(--sec-black);
}
.logo {
  height: 1.5rem;
}
.cross {
  height: 2rem;
  cursor: pointer;
}
.PokeImg {
  height: 27rem;
  display: block;
  margin: 0 auto;
}
.DescriptionWrapper {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ProgressBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.ProgressBarBorder {
  margin-left: 1.6rem;
  margin-top: 1rem;
  width: 16rem;
  height: 0.8rem;
  border-radius: 13px;
  border: 1px solid var(--ter-black);
}
.ProgressBarFill {
  height: 100%;
  background: var(--yellow-primary);
  border-radius: 13px;
}
.MonXP {
  margin-left: 1.6rem;
  margin-top: 0.5rem;
  font-size: var(--font-13);
  font-weight: 500;
}
.MonLevelWrapper {
  position: relative;
  margin-right: 1.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MonLevel {
  position: absolute;
  font-size: var(--font-13);
  margin-bottom: 0.2rem;
  font-weight: 600;
  color: var(--white);
}
.ProfileContainer {
  display: flex;
  width: 50%;
  align-items: center;
}
.Name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #444444;
}
.Profile {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}
.ProfilePic {
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8rem;
}
.Owner {
  font-size: 14px;
  color: grey;
  font-weight: 500;
}
.ButtonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.Button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8rem 0.8rem;
  font-size: 13px;
  border: 2px solid #0fb900;
  border-radius: 4px;
}

.ButtonBody {
  display: flex;
  width: 3.5rem;
  justify-content: space-between;
  align-items: center;
}
.Amount {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.moncoin {
  height: 17px;
  width: 15px;
  margin-left: 0.5rem;
}
.BidContainer {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
.BidButton {
  display: flex;
  align-items: center;
}
.BidButton input {
  border: 1px solid #888888;
  border-radius: 4rem;
  width: 8rem;
  height: 3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  outline: none;
  margin-left: 1.15rem;
}

.Button2 {
  width: 90%;
  cursor: pointer;
  margin: 0 auto;
  height: 3.5rem;
  border: 1px solid #ffcb05;
  border-radius: 4px;
  color: #ffcb05;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--white);
  transition: all 0.15s ease-in-out;
}
.Button2:hover {
  background-color: var(--yellow-primary);
  color: var(--white);
}
.bold {
  font-weight: 800;
  font-size: 15px;
  margin-left: 0.5rem;
}
.LevelWrapper {
  display: flex;
}

.StarLevel {
  height: 3rem;
  width: 3rem;
  margin-right: 1.7rem;
}
.RatingBar {
  height: 1.2rem;
  width: 13rem;
}
.Rating {
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: uppercase;
  color: #767676;
}
