.NavbarWrapper {
  height: 100vh;
  position: fixed;
  background: var(--yellow-primary);
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Category {
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
@media only screen and (max-width: 375px) {
  .NavbarWrapper {
    width: 15%;
  }
  .Category {
    width: 80%;
    padding: 10%;
  }
}
