.PopupBg {
  background-color: rgba(174, 174, 174, 0.224);
  display: flex;
  align-items: center;
  width: 100%;
}
.MainWrapper {
  background: var(--white);
  overflow: hidden;
  height: 60rem;
  width: 47rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 2rem;
}

.Header {
  width: 100%;
  padding: 0 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7rem;
  align-items: center;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.646)
  );
}
.traingin_pokename {
  height: 1.5rem;
  font-weight: 700;
  color: var(--yellow-primary);
  font-size: var(--font-20);
  line-height: 2rem;
  text-transform: uppercase;
}

.traingin_pokename > span {
  color: var(--white);
  padding-left: 0.7rem;
}
.cross {
  height: 2rem;
  cursor: pointer;
}
.PokeImg {
  margin-top: 5rem;
  width: 30rem;
  height: 30rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.DescriptionWrapper {
  width: 100%;
  padding: 2rem;
  margin-top: -0.24rem;
  background-color: var(--white);
}
.duration {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-16);
  line-height: 19px;
  text-transform: uppercase;
  color: var(--sec-black);
}

.duration > span {
  padding-left: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-16);
  line-height: 1.56rem;
  text-transform: uppercase;
  color: var(--yellow-primary);
}

.rate {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-16);
  line-height: 19px;
  text-transform: uppercase;
  color: var(--sec-black);
}

.rate > span {
  padding-left: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-16);
  line-height: 1.56rem;
  text-transform: uppercase;
  color: var(--yellow-primary);
}

.duration_slider {
  margin: 2.4rem;
}

.rate_slider {
  margin: 2.4rem;
}
.rate > span > span {
  padding-left: 0.3rem;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-16);
  line-height: 1.56rem;
  text-transform: uppercase;
  color: var(--green-primary);
}

.paybtn {
  width: 211px;
  height: 44px;
  left: 23px;
  top: 534px;
  background: var(--green-background);
  border: 1px solid var(--green-primary);
  box-sizing: border-box;
  border-radius: 65px;
  margin-top: 1rem;
  cursor: pointer;
}

.btn_content {
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-15);
  line-height: 19px;
  text-transform: uppercase;
  color: var(--green-primary);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0rem 6px;
  padding-left: 1.2rem;
}
.btn_content > span {
  color: var(--yellow-primary);
  padding-left: 0.4rem;
  font-size: var(--font-18);
}

.moncoin {
  padding-left: 1rem;
}

.duration_slider,
.rate_slider {
  margin: 1rem 0rem;
}
