.CryptomonCardWrapper {
  width: 27rem;
  border: 1px solid var(--ter-black);
  border-radius: 8px;
  padding: 2rem 0;
}
.MonProfile {
  height: 25rem;
  display: block;
  margin: auto;
}
.MonName {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-15);
  margin-left: 1.6rem;
  margin-top: 1rem;
}
.ProgressBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProgressBarBorder {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  width: 16rem;
  height: 0.8rem;
  border-radius: 13px;
  border: 1px solid var(--ter-black);
}
.ProgressBarFill {
  height: 100%;
  background: var(--yellow-primary);
  border-radius: 13px;
}
.MonXP {
  margin-left: 1.6rem;
  margin-top: 1rem;
  font-size: var(--font-13);
  font-weight: 500;
}
.MonLevelWrapper {
  position: relative;
  margin-right: 1.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MonLevel {
  position: absolute;
  font-size: var(--font-13);
  margin-bottom: 0.2rem;
  font-weight: 600;
  color: var(--white);
}
.BidBoxWrapper {
  display: flex;
  justify-content: flex-start;
}
.BidBoxContentWrapper {
  display: flex;
  align-items: center;
}
.BidBoxLeftWrapper {
  width: 50%;
  justify-content: space-between;
  align-items: left;
  position: relative;
  margin-left: 1.5rem;
  margin-top: 1.8rem;
  border: 1px solid var(--green-primary);
  border-radius: 4px;
  height: 8.5rem;
  background-color: var(--green-background);
}
.BidBoxLeftContent {
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--font-14);
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.BidBoxLeftNumber {
  font-weight: 800;
  font-size: var(--font-14);
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.BidBoxLeftImage {
  height: 1.6rem;
  width: 1.6rem;
}
.BidBoxRightWrapper {
  width: 50%;
  justify-content: space-between;
  margin-top: 1.8rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  border: 1px solid var(--green-primary);
  border-radius: 4px;
  height: 8.5rem;
  background-color: var(--green-background);
}
.BidBoxRightContent {
  font-weight: 500;
  padding-left: 1rem;
  text-transform: uppercase;
  font-size: var(--font-14);
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.BidBoxRightNumber {
  font-weight: 800;
  font-size: var(--font-14);
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.BidBoxRightImage {
  height: 1.6rem;
  width: 1.6rem;
}
.BidButton,
.BidButtonDisabled {
  text-transform: uppercase;
  border: 1px solid var(--yellow-primary);
  margin-top: 1.2rem;
  color: var(--yellow-primary);
  background-color: white;
  width: 23.6rem;
  height: 3.6rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
  font-size: var(--font-14);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.BidButton:hover {
  background-color: var(--yellow-primary);
  color: white;
}
@media only screen and (max-width: 375px) {
  .CryptomonCardWrapper {
    width: 92%;
  }
  .ProgressBarBorder {
    width: 80%;
  }
}
