.UpperWrapper {
  width: 15rem;
  height: 15rem;
  position: relative;
}
.chalProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.MonLevelXPWrapper2 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: -8%;
  top: 60%;
}
.LowerContainerWrapper2 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2.2rem;
}
.chalName {
  font-weight: 600;
  font-size: var(--font-16);
  text-transform: uppercase;
  text-align: center;
}
.LowerContainerWrapper2 button {
  padding: 0.9rem 2rem;
  background: var(--white);
  border: 1px solid var(--ter-black);
  border-radius: 3.4rem;
  font-weight: 500;
  font-size: var(--font-14);
  text-transform: uppercase;
  color: var(--ter-black);
  cursor: pointer;
  outline: none;
  transition: all 0.15s ease-in-out;
}
.LowerContainerWrapper2 button:hover {
  background: var(--ter-black);
  color: var(--white);
}
.Wrapper {
  padding-top: 3.4rem;
  padding-bottom: 1rem;
}
.ChallengeCardWrapper {
  padding: 1.5rem 2.8rem;
  border: 2px solid var(--sec-grey);
  border-radius: 0.5rem;
}
